{% extends 'base.html.twig' %}

{% block title %}journal | {{task_list.title}}{% endblock %}
{% block javascript %}
<script>

</script>
{% endblock %}


{% block body %}

    <div class="jumbotron">
        <h1 class="display-5">{{task_list.title}}</h1>
        <p class="lead">{{task_list.Description}}</p>
        <div style="justify-content: space-between; width: 60%; margin-left: 20%; display:flex">
            <div style="margin-left: 025px;">
                <p>Date created {{task_list.dateCreated | date('d/m/Y') }}</p>
            </div>
            <div style="margin-right: 025px;">
                <p>Last update: {{task_list.dateModified | date('d/m/Y') }}</p>
            </div>
        </div>
    </div>
    <div style="width: 70%; margin-left: 15%;">
        {% if task_list.Tasks|length > 0 %}
        <table class="table table-hover" style="table-layout: fixed; width: 100%;">
            <thead>
                <tr>
                    <th style="text-align:center;" scope="col">Title</th>
                    <th style="text-align:center;" scope="col">Date created</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for task in task_list.Tasks %}
                    <tr class="table-active" style="width: 100px; overflow: hidden;">
                            <td id="taskId{{task.id}}" style="width: 10%; overflow: hidden; text-align:center;">{{task.Description}}</td>
                            <td style="width: 5%; text-align:center;">{{task.dateCreated | date('d/m/y')}}</td>
                            <td style="width: 75%; padding-top: 0px;padding-bottom: 0px;">
                                <Button onClick="window.location='{{path('set_reset_task', {'id': task.id} )}}';" style="border: none; color: {%if task.IsDone%}green{%else%}red{%endif%}; padding: 12px 16px; font-size: 16px; cursor: pointer; background: transparent">
                                    {% if task.IsDone %}
                                        <i class="fa fa-check" style="background-color: 'green';"></i>
                                    {% else %}
                                        <i class="fa fa-check-circle-o" style="background-color: 'red';"></i>
                                    {% endif %}
                                </Button>                                
                                <Button style="border: none; color: white; padding: 12px 16px; font-size: 16px; cursor: pointer; background: transparent" onclick="setToModify{{task.id}}({{task.id}})">
                                    {# create the modify view #}
                                    <i class="fa fa-pencil" aria-hidden="true"></i>
                                </Button>
                                <Button style="border: none; color: white; padding: 12px 16px; font-size: 16px; cursor: pointer; background: transparent" onclick="window.location='{{  path('delete_task', {'id': task.id}) }}';">
                                    <i class="fa fa-times" aria-hidden="true"></i>
                                </Button>
                            </td>
                    </tr>
                    <script>
                        function setToModify{{task.id}}(id){
                            const list = document.getElementById(`taskId${id}`);
                            const nodes = list.parentNode.children;
                            const currentTaskText = nodes[0].innerHTML
                            let temp = document.createElement("td");
                            let form = document.createElement("form");
                            let input = document.createElement("input");
                            let button = document.createElement("button");

                            form.setAttribute("action", "/task/modify/{{task.id}}");
                            form.setAttribute("method", "POST");
                            form.setAttribute("style", "width: 100%");

                            button.setAttribute("type","submit");
                            button.setAttribute("class","btn btn-success");
                            button.innerHTML = "Save";

                            input.setAttribute("type", "text");
                            input.setAttribute("id", "Description");
                            input.setAttribute("name", "Description");
                            input.setAttribute("required", "required");
                            input.setAttribute("placeholder", "{{task.Description}}");
                            input.setAttribute("class", "form-control");

                            form.append(input);
                            form.append(button);

                            let modifyItemLayout = document.createElement('td');
                            modifyItemLayout.append(form);

                            list.parentNode.replaceChild(document.createElement('td'), nodes[1]);
                            list.parentNode.replaceChild(document.createElement('td'), nodes[2]);
                            list.parentNode.replaceChild(modifyItemLayout, nodes[0]);
                        }
                    </script>
                {% endfor %}
            </tbody>
        </table>
        <div>
        </div>
        {% else %}
            <h4>No task yet</h4>
        {% endif %}
        <div>
            {{form_start(task_form)}}
                {{form_row(task_form.description, {'div_attr': {'style': 'display: inline-flex;'}})}}
                <button type="submit" class="btn btn-success">Save</button>
            {{form_end(task_form)}}
        </div>

    </div>
{% endblock %}
